body {
  text-align: center;
  background-color: #011F3F;
  font-family: 'Press Start 2P', cursive;
}

#level-title {

  font-size: 2rem;
  margin: 5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 13px 5px;
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.red-background {
  background-color: red;
}

.help-btn {
  margin-top: 4rem;
  background-color: #023e7f;
  border-radius: 5px;
  color: #01172d;
  border: none;
  font-family: 'Press Start 2P', cursive;
  padding: 10px;

}

.rules {
  color: white;
  font-size: small;
  text-align: left;

}

.rules li {
  margin: 1rem 0;
}